<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: darkgrey;
            }

            p {
                color: white;
            }
        </style>        
    </head>

    <body>
        <form action = "http://localhost:5000/model_select" method = "get">
        <h1><center>Select Model</center></h1>
        <select name='Model' method='GET' action='/predict'>
            <option value="{{models[0]}}" selected>{{models[0]}}</option>
            {% for model in models[1:] %}
                <option value="{{model}}">{{model}}</option>
            {% endfor %}                
        </select>

    </body>